$color-background-code: #fafafa;
$color-text-code: #ff1744;

$color-fill-easy: #3cd75f;
$color-fill-medium: #1b91da;
$color-fill-hard: #ff1744;
$color-fill-very_hard: #000000;

$color-fill-solution: #0075ca;
$color-fill-explanation: #7057ff;
$color-fill-template: #a2eeef;
$color-fill-video: #f90201;

$color-fill-primary-main: #1b91da;
$color-fill-primary-dark: #0075ca;
$color-fill-secondary-main: #8899a6;
$color-fill-secondary-light: #ffffff;
$color-fill-error-main: #ff1744;
$color-fill-background-default: #15202b;
$color-fill-info-main: #192734;
$color-fill-info-light: #22303c;
$color-fill-success-main: #3cd75f;
