.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 10px;
}

.title {
  font-family: roboto;
  font-weight: bold;
  color: #fff
}

.leftBox {
  display: flex;
  flex-direction: column;

}

.leftBox__topBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.linksBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logoBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.logoAnchor {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
}

.rightBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.actionButton {
  background-color: transparent
}

.actionIcon {
  color: #fff
}

.linkBox {
  margin: 0px 5px
}

.linkAnchor {
  text-decoration: none;
}

.linkText {
  color: #8899A6;
}

.userAvatar {
  border-radius: 50%
}
