.title {
  font-family: roboto;
  font-weight: bold
}

.root {
  padding: 20;
  background-image: url('../public/background.jpg');
  background-size: cover;
  height: calc(100vh - 120px);
}

.problemName {
  font-family: roboto;
  color: #282828;
}
